//NOTE: width for iPhone testing 414px
$basecolor: cornsilk;

$NAVsize: 5rem;
$NAVline: 5rem;
$NAVpadding: .5rem;

$KEYsize: 30rem;
$KEYline: 30rem;
$KEYmargin: 6rem;
$KEYsupSize: 18rem;

$MODEsize: 7rem;

$NOTESsize: 3rem;
$NOTESmargin: 5rem;
$NOTESline: 3rem;

$CHORDmargin: 10rem;
$CHORDsize: 4.5rem;

$CHORDnotesSize: 3.5rem;

$buttonSize: 8rem;
$buttonLine: 8rem;
$buttonMargin: 10rem;

body, html{
  background:darken(white, 90%);
  font-size: 1vh;
}
.wrap{
  position: relative;
}
.output{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.KEY, .MODE, .CHORDS, .CHORDnotes, .NOTES{
  //outline: 1px solid green;
  color: $basecolor;
  text-align: center;
}

.KEY{
  font-weight:bold;
  font-size: $KEYsize;
  line-height: $KEYline;
  margin-top: $KEYmargin;
  sup{
    font-size: $KEYsupSize;
    font-weight:normal;
    font-family: 'Ubuntu', sans-serif;
    
  }
}
.MODE{
  margin: 0;
  font-size: $MODEsize;
  font-family: 'EB Garamond', serif;
  &:before, &:after{
    content:"~";
    margin: 0 .5rem;
    color:rgba($basecolor, .3);
  }
}
.NOTES{
  font-size: $NOTESsize;
  margin-top: $NOTESmargin;
  line-height: $NOTESline;
  border: 1px solid rgba($basecolor, .5);
  border-top:none;
  border-bottom:none;
  padding-right: 2rem;
  color: rgba($basecolor, .6);
  //margin: .5rem 0 0 0;
  .chord{
    sup{
      margin-left:.25rem;
      font-family: 'Ubuntu', sans-serif;
    }
    &:after{
      content:",";
      margin-right: 1.5rem;
      color: rgba($basecolor, .45);
    }
    &:last-of-type{
     // padding-right:.75rem;
      &:after{
        margin-right:0;
        content:"";
      }
    }
    &:first-of-type{
      padding-left:2rem;
    }
  }
}
.CHORDS, .CHORDnotes{
  margin-top: $CHORDmargin;
  font-size: $CHORDsize;
  position:relative;
  .chord{
    text-align:center;
    font-family: 'EB Garamond', serif;
    padding: 1rem 2rem;
    border-right:1px solid rgba($basecolor, .7);
    &:first-of-type{
      border-left: 1px solid rgba($basecolor, .7);
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}
.CHORDnotes .chord{
  font-size: $CHORDnotesSize;
}

label{
  display:inline-block;
}
.button{
  background:grey;
  color:black;
  margin-top: $buttonMargin;
  font-size: $buttonSize;
  line-height: $buttonLine;
  text-align:center;
  width:10vh;
  height:10vh;
  border-radius:100%;
  border:none;
  outline:none;
    &:before{
      vertical-align:middle;
    }
}


//settings
.settings{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  .group{
    
  }
}
.set_mode, .num_of_chords, .chords_to_choose_from{
  position:relative;
  margin-top:2rem;
  h3{
    font-size:4rem;
    color: darken(white, 70%);
    text-align: center;
  }
  input[type='radio'], input[type='checkbox']{
    display:none;
    position:absolute;
    top: -9999px;
    left:-9999px;
  }
  .group{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    font-size:4rem;
  }
}
.set_mode{
  label{
    background:grey;
    color:black;
    padding:.25rem 3rem;
    border-radius:5rem;
    margin-right:1rem;
    &:last-of-type{
      margin-right:0;
    }
  }
}
.num_of_chords, .chords_to_choose_from{
  label{
    background:grey;
    color:black;
    padding: .3rem 1.4729675rem;;
    border-radius:100%;
    &:last-of-type{
      margin-right:0;
    }
  }
}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label{
  background:white;
  color:black;
}


//nav at bottom of settings
.openNav{
  color:darken(white, 65%);
  text-align:center;
  font-size: $NAVsize;
  line-height: $NAVline;
  border:1px dashed darken(white, 75%);
  border-left: none;
  border-right: none;
  padding: $NAVpadding 0;
  cursor:pointer;
}
.closeNav{
  border-top:none;
}

