//NOTE: width for iPhone testing 414px
$basecolor: cornsilk;

body, html{
  background:darken(white, 90%);
  font-size: 14px;
}
.wrap{
  position: relative;
}
.output{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.KEY, .MODE, .CHORDS, .CHORDnotes, .NOTES{
  //outline: 1px solid green;
  color: $basecolor;
  text-align: center;
}

.KEY{
  font-weight:bold;
  font-size: 30rem;
  line-height: 30rem;
  margin-top:6rem;
  sup{
    font-size:18rem;
    font-weight:normal;
    font-family: 'Ubuntu', sans-serif;
    
  }
}
.MODE{
  margin: 0;
  font-size: 7rem;
  font-family: 'EB Garamond', serif;
  &:before, &:after{
    content:"~";
    margin: 0 .5rem;
    color:rgba($basecolor, .3);
  }
}
.NOTES{
  margin: 5rem 0 0 0;
  font-size:3rem;
  line-height:3rem;
  border: 1px solid rgba($basecolor, .5);
  border-top:none;
  border-bottom:none;
  padding-right: 2rem;
  color: rgba($basecolor, .6);
  //margin: .5rem 0 0 0;
  .chord{
    sup{
      margin-left:.25rem;
      font-family: 'Ubuntu', sans-serif;
    }
    &:after{
      content:",";
      margin-right: 1.5rem;
      color: rgba($basecolor, .45);
    }
    &:last-of-type{
     // padding-right:.75rem;
      &:after{
        margin-right:0;
        content:"";
      }
    }
    &:first-of-type{
      padding-left:2rem;
    }
  }
}
.CHORDS, .CHORDnotes{
  margin: 10rem 0 0 0;
  font-size: 4.5rem;
  position:relative;
  .chord{
    text-align:center;
    font-family: 'EB Garamond', serif;
    padding: 1rem 2rem;
    border-right:1px solid rgba($basecolor, .7);
    &:first-of-type{
      border-left: 1px solid rgba($basecolor, .7);
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}
.CHORDnotes .chord{
  font-size:3.5;
}

label{
  display:inline-block;
}
button{
  margin: 12rem 0 0 0;
  background:grey;
  color:black;
  font-size:3rem;
  padding: 4.53682rem 2rem;
  border-radius:100%;
  border:none;
  outline:none;
  &:hover{
    background:darken(white, 70%);
  }
}


//settings
.settings{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  .group{
    
  }
}
.set_mode, .num_of_chords, .chords_to_choose_from{
  position:relative;
  margin-top:2rem;
  h3{
    font-size:4rem;
    color: darken(white, 70%);
    text-align: center;
  }
  input[type='radio'], input[type='checkbox']{
    display:none;
    position:absolute;
    top: -9999px;
    left:-9999px;
  }
  .group{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    font-size:4rem;
  }
}
.set_mode{
  label{
    background:grey;
    color:black;
    padding:.25rem 3rem;
    border-radius:5rem;
    margin-right:1rem;
    &:last-of-type{
      margin-right:0;
    }
  }
}
.num_of_chords, .chords_to_choose_from{
  label{
    background:grey;
    color:black;
    padding: .3rem 1.4729675rem;;
    border-radius:100%;
    &:last-of-type{
      margin-right:0;
    }
  }
}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label{
  background:white;
  color:black;
}


//nav at bottom of settings
.openNav{
  color:darken(white, 65%);
  text-align:center;
  font-size: 5rem;
  border:1px dashed darken(white, 75%);
  border-left: none;
  border-right: none;
  padding:.5rem 0;
  cursor:pointer;
}
.closeNav{
  border-top:none;
}